body{font-family: sans-serif;
    background-color: brown;
    color: rgb(0, 0, 0);
    margin: 0%;
    padding: 0%;}

header{background-color: rgb(31, 240, 12);
      padding: 20px;
      text-align: center;}

    h1{margin: 0%;
      font-size: 2em;}

.categoria{margin: 30px;}

.categoria h2{border-bottom: 2px solid;
             padding-bottom: 10px;}